@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main: rgb(202, 101, 7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.Toastify__toast-body > div:last-child{
  font-family: __myFont_d82642,__myFont_Fallback_d82642;
}

.marquee_parent{
  height: 25vh;
  display: flex;
}
.marquee_list{
  min-width: 10vw;
  max-width: 30vw;
  line-height: 0.7;
  margin-left: 10vh;
  /* background-color: rgb(226, 226, 226); */
  color: white;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-stretch: 2px;
  /* box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 2px #41403E; */
  padding: 8% 9%;
  z-index: 99;
  background-image: url('/kotakaspirasi.png');
  background-color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
} 
.marquee_list.animation{
    animation: scaleAnimation 5s;
}
.rfm-initial-child-container{
  align-items: center !important;
  column-gap: 15vw;
}
.rfm-marquee-container{
  overflow: hidden;
}
.rfm-marquee{
  column-gap: 15vw;
}
.marker:hover + .gambarpeta{
  transform: scale(1.2);
}
@keyframes scaleAnimation {
  0% {
    transform: scale(2.3);
  }
  100% {
    transform: scale(1);
  }
}